body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s ease-in-out;
  }
  
  h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #start {
    background-color: #27ae60;
  }
  
  #start:hover {
    background-color: #104125;
  }
  
  #stop {
    background-color: #e74c3c;
  }
  
  #stop:hover {
    background-color: #552e2a;
  }
  